# Ignore Data (Prevents large CSVs from crashing GitHub)
data/
*.csv

# Ignore Virtual Environment (CRITICAL)
venv/
env/

# Ignore Python & Jupyter Cache files
__pycache__/
*.py[cod]
.ipynb_checkpoints/